In [10]:
capitals={"Palestine":"Jerusalem","Japan":"Tokyo","Egypt":"Cairo","Jordan":"Amman","UAE":"Dubai","sudan":"khartoom","Marakesh":"Rebat","India":"New Delhi","Yaman":"Sanaa"}
print(capital["Palestine"])

Jerusalem

In [11]:
cap={"Tounis":"Tounis","Kuwait":"Kuwait"}  
capitals.update(cap)

In [12]:
capitals

{'Egypt': 'Cairo',
 'India': 'New Delhi',
 'Japan': 'Tokyo',
 'Jordan': 'Amman',
 'Kuwait': 'Kuwait',
 'Marakesh': 'Rebat',
 'Palestine': 'Jerusalem',
 'Tounis': 'Tounis',
 'UAE': 'Dubai',
 'Yaman': 'Sanaa',
 'sudan': 'khartoom'}

In [13]:
for key,value in capitals.items():
    print(key,value)

Palestine Jerusalem
Japan Tokyo
Egypt Cairo
Jordan Amman
UAE Dubai
sudan khartoom
Marakesh Rebat
India New Delhi
Yaman Sanaa
Tounis Tounis
Kuwait Kuwait

In [14]:
capitals_bycapital = {capitals[key]: key for key in capitals}

In [15]:
capitals_bycapital

{'Amman': 'Jordan',
 'Cairo': 'Egypt',
 'Dubai': 'UAE',
 'Jerusalem': 'Palestine',
 'Kuwait': 'Kuwait',
 'New Delhi': 'India',
 'Rebat': 'Marakesh',
 'Sanaa': 'Yaman',
 'Tokyo': 'Japan',
 'Tounis': 'Tounis',
 'khartoom': 'sudan'}

In [32]:
c1=["Palestine","Japan","Egypt","Jordan","UAE","sudan","Marakesh","India","Yaman"]
c1

['Palestine',
 'Japan',
 'Egypt',
 'Jordan',
 'UAE',
 'sudan',
 'Marakesh',
 'India',
 'Yaman']

In [35]:
c2= ["Jerusalem","Tokyo","Cairo","Amman","Dubai","khartoom","Rebat","New Delhi","Sanaa"]
c2

['Jerusalem',
 'Tokyo',
 'Cairo',
 'Amman',
 'Dubai',
 'khartoom',
 'Rebat',
 'New Delhi',
 'Sanaa']

In [37]:
dict(zip(c1, c2))

{'Egypt': 'Cairo',
 'India': 'New Delhi',
 'Japan': 'Tokyo',
 'Jordan': 'Amman',
 'Marakesh': 'Rebat',
 'Palestine': 'Jerusalem',
 'UAE': 'Dubai',
 'Yaman': 'Sanaa',
 'sudan': 'khartoom'}

In [39]:
#c={key:value for key in c1 for value in c2}
#print(c)