In [ ]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
male1995 = pd.Series([8.5,11.5,23.5,29.2,15.1,6.1,6.1],
                    index=['Illiterate','Can Read and Write','Elementary','Preparatory','Secondary',
                           'Associate Diploma','Bachelor and above'])

female1995= pd.Series({'Illiterate': 23.0,'Can Read and Write': 10.1,'Elementary': 21.3,
                       'Preparatory': 25.9,'Secondary': 12.5,'Associate Diploma': 4.8,'Bachelor and above': 2.4})

bothsexes1995= pd.Series({'Illiterate': 15.7,'Can Read and Write': 10.8,'Elementary': 22.4,
                          'Preparatory': 27.5,'Secondary': 13.8,'Associate Diploma': 5.5,'Bachelor and above': 4.3})

educationalattainment = pd.DataFrame({'male': male1995,'female': female1995, 'bothsexes' : bothsexes1995})
educationalattainment

NameError: name 'df_iris' is not defined

In [ ]:

individuals= pd.DataFrame([{'Education': 'College', 'Height': 70, 'Gender': 'Male'},
                           {'Education': 'College', 'Height': 68, 'Gender': 'Female'},
                          {'Education': 'HighSchool', 'Height': 69, 'Gender': 'Male'}])
individuals

In [ ]:
objects = ('College', 'HighSchool', 'beyound college')
pop=[50,20,15]
n=len(objects)
y_pos = np.arange(n)
plt.bar(y_pos, pop, align='center', alpha=0.5)
plt.xticks(y_pos, objects)
plt.ylabel('pop')
plt.title('Education')
 
plt.show()

In [ ]:
Deaths = ('Car accident','others')
percentage = [30, 15]
n1=len(Deaths)
y_pos = np.arange(n1)
plt.barh(y_pos, percentage, align='center', alpha=0.5)

plt.yticks(y_pos, Deaths)
plt.title('cause of death')
 
plt.show()

In [ ]:
male1995 = pd.Series([8.5,11.5,23.5,29.2,15.1,6.1,6.1],
                    index=['Illiterate','Can Read and Write','Elementary','Preparatory','Secondary',
                           'Associate Diploma','Bachelor and above'])

female1995= pd.Series({'Illiterate': 23.0,'Can Read and Write': 10.1,'Elementary': 21.3,
                       'Preparatory': 25.9,'Secondary': 12.5,'Associate Diploma': 4.8,'Bachelor and above': 2.4})

bothsexes1995= pd.Series({'Illiterate': 15.7,'Can Read and Write': 10.8,'Elementary': 22.4,
                          'Preparatory': 27.5,'Secondary': 13.8,'Associate Diploma': 5.5,'Bachelor and above': 4.3})

educationalattainment = pd.DataFrame({'male': male1995,'female': female1995, 'bothsexes' : bothsexes1995})
educationalattainment

In [ ]:

plt.figure(); educationalattainment.plot()